body {
  background: linear-gradient(135deg, #020617, #020617);
  font-family: Arial, sans-serif;
  color: #fff;
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background: rgba(0,0,0,0.6);
  padding: 30px;
  border-radius: 12px;
  width: 320px;
}

.login-box label {
  display: block;
  margin-top: 10px;
}

.login-box input {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
}

.login-box button {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#login-erro {
  color: #f87171;
  margin-top: 10px;
}
