

/* =====================
   GRÁFICO
===================== */
.chart-section {
  margin-top: 40px;
}

.chart-section h2 {
  margin-bottom: 14px;
  font-size: 18px;
}

.chart-box {
  background: #020617;
  border-radius: 18px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.45);
}
